main {
    display: flex;
    width: 80%;
    margin: 0px auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    padding: 5px 60px;
}

.center {
    display: flex;
    justify-content: center;
}

.recipe-card {
    flex-basis: 45%;
    background-color: greenyellow;
    padding: 30px 12px;
    margin: 2% 1%;
}