* {
  font-family: sans-serif;
}

section:not(section.shown) {
  display: none;
} 

.hidden {
  display: none;
} 
  
.recipe-cards--wrapper {
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 0 auto;
  max-width: 80%;
}
  
.section--recipe-expand {
  height: 100%;
  width: 100%;
}
