#navigation-bar{
    display: flex;
    max-height: 20%;
    background-color: #c3ec9d;
    position: fixed;
    width: 100%;
    justify-content: space-between;
}
#company{
    display: flex;
    flex-direction: row;
}

#navigation{
    position:relative;
    display: flex;
    flex-direction: row;
}
#navigation button{
    width: 120px;
    background-color: #c3ec9d;
    text-align: center;
}
#navigation #myRecipes{
    background-color: #94d359;
}
#navigation button:hover{
    background-color: #94d359;
}
button{
    all:unset;
}
/* End of Navigation */

body{
    margin: 0px;
}

main{
    padding-top: 80px;
}

#addButton{
    font-size: 18px;
    color: whitesmoke;
    background-color: indianred;
    padding: 10px 18px;
    border-radius: 10px;
    margin: 5px;
    float:right;
}

#addButton:hover{
    background-color: red;
}